<h1>Profile Page</h1>
<h2> Edit your info </h2>

<%= form_for @user do |f| %>
  <%= f.file_field :profile_pic, placeholder:"Upload Profile Photo"%>
  <br/>

  <%= f.label :github %>
  <%= f.text_field :github %>
  <br/>

  <%= f.label :linkedin %>
  <%= f.text_field :linkedin %>
  <br/>

  <%= f.label :bio %>
  <%= f.text_field :bio %>
  <br/>

  <%= f.label :website %>
  <%= f.text_field :website %>
  <br/>

  <%= f.label :employer %>
  <%= f.text_field :employer%>
  <br/>

  <%= f.submit "Update Profile" %>
<% end %>

<%= render "logout" %>
